body {
	background-image: url("../images/bg-space.jpg");
	background-repeat: no-repeat;
    background-attachment: fixed;
	font-family: Courier New, Courier, monospace
}

main {
	padding: none; 
	margin: none;
}

.container-fluid{
	width: 100%;
	margin: 0;
	padding: 0;
}

.row {
	max-width: 1000px; 
	margin: 0 auto
}

#bioWords {
	padding: 20px 10px;
}

.card {
	border: solid #000 1px;
	background-color: #fff;
	text-align: center;
	font-family: 'Arial Narrow', Arial, sans-serif;
	padding: 0 10px;
}

.card-img-top {
	width: 100%;
	border: solid #000 1px;
}

.refCard {
	margin: 15px 0;
	padding-top: 10px;
	color: #000;
	font-style: italic;
}

.refName {
	position: absolute;
	top: -12px;
	border-right: solid rgb(0, 81, 91) 1px;
	border-left: solid rgb(0, 81, 91) 1px;
	background-color: rgb(130, 130, 130);
	padding: 0 10px;
	margin: none;
	font-size: 18px;
	font-style: normal;
}

.wrapper-top {
	margin: 0 0 2px 0;
	background-color: #f2f2f2;
	border-top: solid #000 1px;
	box-shadow: 0px 0px 50px 10px #000;
	padding: 10px 10px 70px;
	z-index: 2;
}

.wrapper {
	background-color: #ccc;
	background: linear-gradient(to bottom right, rgb(235, 235, 235), rgb(218, 218, 218),rgb(255, 255, 255));
	margin: 0 0 2px 0 ;
	border-top: solid #000 1px;
	padding: 10px 10px 70px;
}

.wrapper-bottom {
	color: #fff;
	background-color: #000;
	background: rgba(0, 0, 0, 0.4);
	margin: 0 0 2px 0 ;
	border-top: solid #000 1px;
	padding: 10px 10px 70px;
}

.hwrap {
	padding-bottom: 0;
	height: 220px;
	border-top: solid #fff 2px;
	margin-top: 150px;
	color: #fff;
	background-color: black;
	background: rgba(0, 0, 0, 0.4);		
}

.fwrap {
	padding-bottom: 0;
	color: #fff;
	background-color: black;
	height: 50px;	
}


.img-bio {
	height: 300px;
	margin: 0 auto;
	display: block;
	border: solid #000 1px;
}

#img-logo {
	width: 200px;
	border-right: solid #fff 3px;
	border-left: solid #fff 3px;
	padding: 0px;
	box-shadow: 10px 12px 80px 6px #000;
	border-radius: 12px;
}

.img-logo1 {
	width: 250px;
	margin: auto;
	display: flex;
	position: relative;
	top: -39px;
}

#logo {
	position: relative;
	top: -100px;
	margin: 0 5px;
}






